@import url('https://fonts.googleapis.com/css2?family=Muli&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Muli', 'sans-serif';
    line-height: 1.2;
    font-size: 15px;
    /* height: 100vh; */
    background-color: #d8e2e7;
    overflow:hidden
}

.container-fluid {
    display: flex;
    justify-content: center;
    margin-bottom: 0;
}

.container-fluid h2 {
    font-weight: 500; 
}

.leftDiv {
    padding: 1rem 2rem;
    overflow: auto;
}

.leftDiv p {
    font-size: 1rem;
    font-weight: 700;
}

.card {
    height: 80vh;
    border-radius: 10px;
    /* background-color: white; */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;
    border: transparent;
}

.weatherDiv {
    padding: 1rem 0.5rem;
    border-radius: 0.3rem;
    /* margin: 1rem 1rem 1rem 1rem */
    display: none;
}

.today-forcast {
    height: 35vh;
    background-color: white;
    padding: 1rem 1rem
}

.five-day-forcast {
    height: 45vh;
    background-color: #ecf3f5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fiveForcast {
    background-color: #74a5fc;
    color: white;
    height: 26vh;
    width: 10rem; 
    margin: 1.2rem 1.2rem;
    border-radius: 0.4rem;
}


#cityDate {
    font-size: 18px;
    font-weight: 700;
}

.uvEx {
    display:flex
}

#uvIndex2 {
    background-color: #d32d88;
    width: 2.6rem;
    height: 3.5vh ;
    padding: 0.2rem;
    margin-left:0.6rem;
    color: white;
    border-radius: 0.2rem;
}

.weather-icon img {
    width: 4rem;
    height: 8vh ;
}

.aligned {
    display: flex;
    align-items: center;
}

.card-text {
    background-color: #448ceb;
    color: white;
    font-size: 14px;
    padding: 1rem 1rem 1rem 1rem;
    margin: 1rem 1rem 1rem 1rem;
    height: 28vh;
    width: 10rem;
}

.fiveDayCards {
    display: flex;
    justify-content: center;

}